<article>
	<h2 class="page-title">Members</h2>
	<h3>Add a New Sea Owl</h3>
	<form action="/members" method="POST" id="new-member">

		<fieldset>
			<label for="fname">First Name
				<input type="text" id="add-fname" name="fname">
			</label>

			<label for="lname">Last Name
				<input type="text" id="add-lname" name="lname">
			</label>

			<label for="weight">Email
				<input type="email" id="add-email" name="email">
			</label>

			<input type="submit" id="new-member-submit" name="add" value="Submit">
		</fieldset>

	</form>
	<h3>Current Sea Owls</h3>
	<table>
		<thead>
			<tr>
				<th>First Name</th>
				<th>Last Name</th>
				<th>View</th>
				<th>Delete</th>
			</tr>
		</thead>
		{{#each members}}
			<tr>
				<td>{{this.fname}}</td>
				<td>{{this.lname}}</td>
				<td><a href="/member/{{this.id}}">View</a></td>
				<td>
					<form action="/members" method="POST" id="delete-member">
						<input type="hidden" value="{{this.id}}" name="memberID"/>
						<input type="submit" class="delete" name="delete" value="Delete" />
					</form>
				</td>
			</tr>
		{{/each}}
	</table>
</article>
