<footer>
	<div class="footer">
		<section class="footer-logo">
			<a href="/"><img src="/images/seaowl.png" class="footer-logo" /></a>
		</section>
		<nav class="footer-nav">
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/members">Members</a></li>
				<li><a href="/books">Books</a></li>
			</ul>
		</nav>
		<section class="footer-description">
			<p>Welcome to Sea OWLS (Seattle Overworked Literary Society). We hope you enjoy perusing our little book club! If you want to join, just shoot us an email at <a href="mailto:seaowls@gmail.com">seaowls@gmail.com</a> or go add yourself on our members page and start picking books from our library!</p>
		</section>
	</div>
</footer>