<div class="masthead">
	<section id="site-info">
		<a href="/"><img src="/images/seaowl.png" class="site-icon" /></a>
		<h1 class="site-title"><a href="/">Sea Owls</a></h1>
		<p class="description">Too tired to work, guess I'll just go read some books.</p>
	</section>
</div>