<!DOCTYPE html>
<html>
<head>
	<title>Sea Owls</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	{{{ body }}}
</body>
<script type="text/javascript" src="script.js"></script>
</html>