<!DOCTYPE html>
<html>
<head>
	<title>Sea Owls</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<!-- Font Awesome -->
	<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js" integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe" crossorigin="anonymous"></script>
</head>
<body>
	<div class="page">
		<header>
			{{> navbar }}
			{{> masthead }}
		</header>

		{{{ body }}}

		{{> footer }}
		
	</div>
</body>
<script type="text/javascript" src="script.js"></script>
</html>