/*

	Table of Contents

	1. Reset
	2. Base styles
	3. Navigation
	5. Header
	6. Body/Article
	7. Footer
	8. Carousel

*/

/* 1. Reset */

a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}


/* 3. Navigation */

#nav-wrapper {
	width: 100%;
	margin: 0 auto;
	padding: 18px 32px;
	top: 0;
	position: fixed;
	z-index: 100;
	box-shadow: 0px 3px 7px black;
	background: var(--green);
}

header:before{
	clear: both;
	content: '';
}

#menu-toggle {
	display: none;
}

.fa-bars {
	display: none;
	font-size: 35px;
}

.flex-nav ul {
	max-width: 1100px;
	list-style: none;
	margin: 0 auto;
	padding: 0;
	display: flex;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
}

.flex-nav a {
	color: black;
	text-decoration: none;
	transition: all .5s ease-in;
}

.flex-nav a:hover {
	color: white;
}

.flex-nav li {
	flex: 3;
}

.flex-nav .social {
	flex: 1;
}

@media screen and ( max-width: 768px ){

	.flex-nav ul {
		display: none;
		height: 0;
		opacity: 0;
		align-items: baseline;
		transition: all 1s ease-out;
		flex-direction: column;
	}

	.flex-nav li {
		flex: 1 1;
		margin: 20px;
		width: 80%;
		border-bottom: 1px solid rgba( 255, 255, 255, .5 );
	}

	#menu-toggle:checked ~ ul {
		display: flex;
		opacity: 1;
		height: auto;
	}

	.fa-bars {
		display: block;
	}

}