/*

	Table of Contents

	1. Reset
	2. Base styles
	3. Navigation
	5. Header
	6. Body/Article
	7. Footer
	8. Carousel

*/

/* 1. Reset */

a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

/* Base */

:root{
	--slate-blue: #607f8a;
	--black-blue: #2c353f;
	--maroon: #a4767e;
	--off-white: #f2e8de;
	--tan: #e4d3c3;
}

html {
	box-sizing: border-box;
}

body {
	font-family: helvetica, arial, sans-serif;
	font-size: 18px;
	font-weight: normal;
	color: rgb( 34, 34, 34 );
	background: var(--off-white);
}

h1 {
	font-size: 35px;
	font-weight: 700;
}

h2 {
	font-size: 30px;
	font-weight: 700;
}

h3 {
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 20px;
}

h4 {
	font-size: 20px;
	font-weight: 700;
}

a {
	text-decoration: underline;
	color: var(--slate-blue);
	transition: all .5s ease;
}

article a {
	font-weight: 700;
}

.page-title {
	margin-bottom: 20px;
	text-align: center;
}

a:hover {
	color: var(--green-hover);
}

.social a {
	font-size: 30px;
}

.button {
	margin: 5px 0px;
	padding: 15px;
	background: black;
	display: inline-block;
	color: white;
	text-decoration: none;
	border-radius: 5px;
	transition: all .5s ease;
}

.button:hover {
	color: white;
	background: #333333;
}

.button-gone {
	visibility: hidden;
}

/* 3. Navigation */

#nav-wrapper {
	width: 100%;
	margin: 0 auto;
	padding: 18px 32px;
	top: 0;
	position: fixed;
	z-index: 100;
	box-shadow: 0px 3px 7px black;
	background: var(--off-white);
}

header:before{
	clear: both;
	content: '';
}

#menu-toggle {
	display: none;
}

.fa-bars {
	display: none;
	font-size: 35px;
}

.flex-nav ul {
	max-width: 1100px;
	list-style: none;
	margin: 0 auto;
	padding: 0;
	display: flex;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
}

.flex-nav a {
	color: black;
	text-decoration: none;
	transition: all .5s ease-in;
}

.flex-nav a:hover {
	color: white;
}

.flex-nav li {
	flex: 3;
}

.flex-nav .social {
	flex: 1;
}

@media screen and ( max-width: 768px ){

	.flex-nav ul {
		display: none;
		height: 0;
		opacity: 0;
		align-items: baseline;
		transition: all 1s ease-out;
		flex-direction: column;
	}

	.flex-nav li {
		flex: 1 1;
		margin: 20px;
		width: 80%;
		border-bottom: 1px solid rgba( 255, 255, 255, .5 );
	}

	#menu-toggle:checked ~ ul {
		display: flex;
		opacity: 1;
		height: auto;
	}

	.fa-bars {
		display: block;
	}

}

/* 5. Header */

.masthead {
	margin-top: 50px;
	text-align: center;
	padding: 50px 0px;
}

.masthead section {
	text-shadow : 2px 2px 3px #9b9b9b; 
	margin: 30px;
}

.site-title {
	 font-size: 65px;
	 font-weight: 700;
	 margin-bottom: 10px;
	 line-height: 71.5px;
}

.description {
	font-size: 25px;
	line-height: 27.5px;
}

.site-title a {
	text-decoration: none;
	color: rgb( 0, 0, 0 );
}

/* 6. Body */

main {
	max-width: 1100px;
	margin: 0 auto;
	line-height: 28px;
	display: block;
	background-color: white;
	border-top: 7px solid var(--maroon);
	border-bottom: 7px solid var(--maroon);
}

main p {
	margin-bottom: 20px;
}

main ul {
	margin-bottom: 20px;
	list-style-type: disc;
	list-style-position: outside;
}

main ul li {
	margin-left: 40px;
}

main ul > ul {
	margin-left: 40px;
	list-style-type: circle;
	margin-bottom: 0px;
}

main ol {
	list-style-type: decimal;
	margin-left: 40px;
	margin-bottom: 20px;
}

.page-content article {
	margin: 0 auto;
	max-width: 770px;
	padding: 30px 15px 0px;
}

.page-content {
	padding: 35px 0px;
}

/* Tables */

table {
	text-align: left;
	width: 100%;
}

table tr:nth-child(even){
	background-color: var(--off-white);
}

table tr:nth-child(even){
	background-color: var(--tan);
}

table thead tr {
	color: white;
	background-color: var(--slate-blue);
}

/* Forms */

article form {

	margin: 30px 0;

}

table form {
	margin: 0px;
}